body {
    background-image: url(rompiendo-barreras-computacion-cuantica.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    height: 784px;
    margin: 104px auto;
    display: flex;
    flex-direction: row;
    box-shadow: -1px 16px 97px -10px rgba(255, 255, 255, 0.753);
}

.info {
    background-color: rgba(72, 72, 138, 0.418);
    width: 35%;
    position: relative;
}

h1 {
    font-size: 94px;
    text-align: left;
    color: rgb(172, 165, 165);
    margin: 114px 26px 76px;
}

p {
    font-size: 14x;
    text-align: center;
    color: whitesmoke;
    margin: 0 56px
}

.sign-up {
    position: absolute;
    bottom: 40px;
    right: 40px;
    color: white;
    border: 1.5px solid gray;
}

main {
    background-color: rgba(255, 255, 255, 0.753);
    width: 65%;
    padding: 56px 28px 10px 54px;
    position: relative;
}

form {
    display: flex;
    flex-wrap: wrap;
    padding-left: 90px;
    margin-top: 10px;
}

input, select {
    margin: 10px 35px 15px 0px;
    height: 36px;
    border: 1.5px solid rgb(107, 105, 105);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 33px; 
}

input {
    width: 215px;
}

select {
    width: 252px;
}

button {
    position: absolute;
    left: 329px;
    width: 171px;
    height: 50px;
    bottom: 88px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(72, 72, 138, 0.418);
    font-size: 26px;
    color: black;
    border-radius: 14px;
}

.have-account {
    position: absolute;
    left: 353px;
    bottom: 43px;
}

.first-name, .phone, .email {
    position: relative;
}

.icon-user, .icon-email {
    bottom: 30px;
}

.icon-user, .icon-phone, .icon-email {
    position:absolute;
    left: 7px;
    color:rgb(107, 105, 105);
}

.first-name > input, .phone > input, .email > input {
    padding-left: 33px;
}

.icon-phone {
    font-size: 20px;
    bottom: 26px;
}
